    <div class="content-s">
      <div class="row tableTs" >
        <div class="container-fluid h-full padding-a">
          <div class="w-full h-9h fa15x">
            <div class="w-full padding-a15 h-full" style="height: 20px;">
              <div class="float-l" style="padding-right: 30px;">
                <span id="outputConfigTitle"></span>
                卡槽:
                <span id="outputConfigId">3</span>
              </div>
              <div class="float-l">
                信号:
                <span id="outputConfigName">E1-T1</span>
              </div>
            </div>
            <span style="position: relative;top: 10px;left: 10px;background: #fff;">基本配置</span>
            &nbsp;&nbsp;
            <div class="w-9h fa15x  uba bc-border3 b-radius padding-a bc-bg" style="overflow: auto;height:270px">
              <table id="" class="display w-full h-full" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width:92px" class="t-middle"></th>
                    <th class="t-middle">端口使能</th>
                    <th class="t-middle">帧类型</th>
                    <th class="t-middle">CRC使能</th>
                    <th class="t-middle">SSM使能</th>
                    <th class="t-middle">SSM Bit</th>
                  </tr>
                </thead>
                <tbody id="outputConfigList">
                  <tr id="E1_model1" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="0" outputconfigslot="3" outputconfigportid="0" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口1</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState1">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType1">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState1">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState1">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit1"></td>
                  </tr>
                  <tr id="E1_model2" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="1" outputconfigslot="3" outputconfigportid="1" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口2</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState2">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType2">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState2">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState2">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit2"></td>
                  </tr>
                  <tr id="E1_model3" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="2" outputconfigslot="3" outputconfigportid="2" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口3</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState3">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType3">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState3">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState3">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit3"></td>
                  </tr>
                  <tr id="E1_model4" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="3" outputconfigslot="3" outputconfigportid="3" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口4</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState4">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType4">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState4">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState4">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit4"></td>
                  </tr>
                  <tr id="E1_model5" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="4" outputconfigslot="3" outputconfigportid="4" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口5</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState5">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType5">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState5">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState5">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit5"></td>
                  </tr>
                  <tr id="E1_model6" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="5" outputconfigslot="3" outputconfigportid="5" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口6</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState6">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType6">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState6">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState6">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit6"></td>
                  </tr>
                  <tr id="E1_model7" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="6" outputconfigslot="3" outputconfigportid="6" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口7</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState7">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType7">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState7">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState7">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit7"></td>
                  </tr>
                  <tr id="E1_model8" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="7" outputconfigslot="3" outputconfigportid="7" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口8</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState8">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType8">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState8">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState8">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit8"></td>
                  </tr>
                  <tr id="E1_model9" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="8" outputconfigslot="3" outputconfigportid="8" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口9</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState9">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType9">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState9">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState9">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit9"></td>
                  </tr>
                  <tr id="E1_model10" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="9" outputconfigslot="3" outputconfigportid="9" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口10</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState10">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType10">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState10">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState10">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit10"></td>
                  </tr>
                  <tr id="E1_model11" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="10" outputconfigslot="3" outputconfigportid="10" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口11</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState11">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType11">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState11">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState11">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit11"></td>
                  </tr>
                  <tr id="E1_model12" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="11" outputconfigslot="3" outputconfigportid="11" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口12</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState12">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType12">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState12">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState12">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit12"></td>
                  </tr>
                  <tr id="E1_model13" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="12" outputconfigslot="3" outputconfigportid="12" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口13</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState13">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType13">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState13">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState13">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit13"></td>
                  </tr>
                  <tr id="E1_model14" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="13" outputconfigslot="3" outputconfigportid="13" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口14</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState14">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType14">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState14">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState14">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit14"></td>
                  </tr>
                  <tr id="E1_model15" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="14" outputconfigslot="3" outputconfigportid="14" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口15</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState15">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType15">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState15">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState15">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit15"></td>
                  </tr>
                  <tr id="E1_model16" class="table-tr-content t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;" slot="15" outputconfigslot="3" outputconfigportid="15" outputconfigstate="" outputconfigframetype="" outputconfigcrcstate="" outputconfigssmstate="" outputconfigssmbit="" outputconfigmainstate="1" outputconfigmainframetype="1" outputconfigmaincrcstate="0" outputconfigmainssmstate="0" outputconfigmainssmbit="8">
                    <td style="width:92px">端口16</td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainState16">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainFrameType16">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainCRCState16">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select class="selectq" disabled="" id="outputConfigMainSSMState16">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" disabled="" class="" id="outputConfigMainSSMBit16"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="w-9h fa15x  uba bc-border3 b-radius padding-a bc-bg umar-t" style="height:90px">
              <input type="text" style="width:60px;display:none;" id="outputConfigPortC">    
              <input type="text" style="width:60px;display:none;" id="outputConfigSoltC">    
              <table id="" class="display w-full h-full" cellspacing="0">
                <tbody>
                  <tr class="t-middle padding-a5 uba bc-border1 b-radius" style="height:35px;">
                    <td>
                      全选
                      <input id="outputConfigcheckAll" type="checkbox"></td>
                    <td>
                      <input type="text" style="width:60px;" id="outputConfig_Solt"></td>
                    <td>
                      <select id="outputConfigMainState">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select id="outputConfigMainFrameType">
                        <option value="0">freq1544KHz</option>
                        <option value="1">freq2048KHz</option>
                        <option value="2">ccs</option>
                        <option value="3">cas</option>
                        <option value="4">d4</option>
                        <option value="5">esf</option>
                      </select>
                    </td>
                    <td>
                      <select id="outputConfigMainCRCState">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td>
                      <select id="outputConfigMainSSMState">
                        <option value="0">disable</option>
                        <option value="1">enable</option>
                      </select>
                    </td>
                    <td style="width:130px;">
                      <input type="text" style="width:60px;" id="outputConfigMainSSMBit"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <span style="position: relative;top: 10px;left: 10px;background: #fff;">Generation配置</span>
            &nbsp;&nbsp;
            <div class="w-9h  fa15x  uba bc-border3 b-radius padding-a bc-bg" style="overflow: auto;height:70px">
              <table id="" class="display w-full h-full" cellspacing="0">
                <thead>
                  <tr>
                    <th class="t-middle">Warmup</th>
                    <th class="t-middle">Freerun</th>
                    <th class="t-middle">Holdover</th>
                    <th class="t-middle">Fasttrack</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="t-middle padding-a5" style="height:20px;">
                    <td>
                      <select id="outE1Warmup">
                        <option value="0">squelch</option>
                        <option value="1">on</option>
                        <option value="2">ais</option>
                      </select>
                    </td>
                    <td>
                      <select id="outE1Freerun">
                        <option value="0">squelch</option>
                        <option value="1">on</option>
                        <option value="2">ais</option>
                      </select>
                    </td>
                    <td>
                      <select id="outE1Holdover">
                        <option value="0">squelch</option>
                        <option value="1">on</option>
                        s
                        <option value="2">ais</option>
                      </select>
                    </td>
                    <td>
                      <select id="outE1Fasttrack">
                        <option value="0">squelch</option>
                        <option value="1">on</option>
                        <option value="2">ais</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer" style="padding:0;border-top:0;text-align: left;position: absolute;bottom:0%;left: 44%;">
              <button id="outputConfigSub" type="button" class="btn btn-primary" style="width: 70px;margin-left: 20px;">设置</button>
              <button type="button" class="btn btn-danger" style="width: 70px;margin-left: 20px;" data-dismiss="modal">退出</button>
              <span id="mesSub" class="padding-a red fa12x" style="margin-top:10px;"></span>
            </div>
          </div>
        </div>

      </div>
    </div>