    <div class="content-s">
      <div class="row tableTs" >
        <div class="container-fluid umar-a h-9h padding-a t-middle" style="margin-top:10px;">
          <div class="float-l">
            <span class="umar-a8">端口选择</span>
            <select id="ptpUnicastClientTableId" class="umar-a8" onchange="changeptpUnicastClientTable()">
              <option value="0">端口1</option>
              <option value="1">端口2</option>
            </select>
          </div>
          <div class="w-full fa15x  b-radius padding-l padding-r padding-b15 t-middle clear" style="height:326px;">
            <div class="w-full fa15x b-radius padding-b15" >
              '
              <table id="" class="display w-full h-full bc-bg"  border="1" cellspacing="0" >
                <thead>
                  <tr>
                    <th class="t-middle">索引</th>
                    <th class="t-middle">使能</th>
                    <th class="t-middle">地址</th>
                    <th class="t-middle">VLAN ID</th>
                    <th class="t-middle">Clock ID</th>
                    <th class="t-middle">Sync</th>
                    <th class="t-middle">ANN</th>
                    <th class="t-middle">Delay</th>
                  </tr>
                </thead>
                <tbody id="loadptpUnicastClientTableList"></tbody>
              </table>
            </div>
          </div>
          <div class="paixu w-full fa15x b-radius padding-b15" >
            <li class="w-25h padding-a5">
              <span >索引 :</span>
              <input id="Num" type="text" disabled  style="width:62%;"/>    
            </li>

            <li class="w-25h padding-a5">
              <span >使能 :</span>
              <select id="ptpUnicastClientState"   style="width:62%;height:25px;">
                <option value="0">disable</option>
                <option value="1">enable</option>
              </select>
            </li>
            <li class="w-25h padding-a5">
              <span >地址 :</span>
              <input id="ptpUnicastClientAddr" type="text"  style="width:62%;"/>    
            </li>
            <li class="w-25h padding-a5">
              <span >VLAN ID :</span>
              <input id="ptpUnicastClientVlanID" type="text"  style="width:62%;"/>    
            </li>
            <li class="w-25h padding-a5">
              <span >Clock ID :</span>
              <input id="ptpUnicastClientClockID" type="text"  style="width:62%;"/>    
            </li>
            <li class="w-25h padding-a5">
              <span >Sync :</span>
              <input id="ptpUnicastClientSync" type="text"  style="width:62%;"/>    
            </li>
            <li class="w-25h padding-a5">
              <span >ANN :</span>
              <input id="ptpUnicastClientAnnounce" type="text"  style="width:62%;"/>    
            </li>
            <li class="w-25h padding-a5">
              <span >Delay :</span>
              <input id="ptpUnicastClientDelay" type="text"  style="width:62%;"/>    
            </li>

          </div>
          <div class="modal-footer" style="border-top:0;text-align: left;position: absolute;bottom: 2%;left: 48%;">
            <button id="UnicastSub" type="button" class="btn btn-primary" style="width: 70px;margin-left: 20px;">设置</button>
            <button type="button" class="btn btn-danger" style="width: 70px;margin-left: 20px;" data-dismiss="modal">退出</button>
            <span id="mesSub" class="padding-a red fa12x" style="margin-top:10px;"></span>
          </div>
        </div>

      </div>
    </div>
    <div style="float: right;">
      <tm-pagination conf="paginationConf"></tm-pagination>
    </div>