
<!DOCTYPE html>
<html lang="zh" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS入门学习</title>
     <script type="text/javascript" src="js/angular-1.3.0.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="global">
    <select ng-model="ihg" ng-options="ihg.text for ihg in g">
        <option value="">-- 洲际 --</option>
    </select>
    <select ng-if="ihg.nat" ng-model="nat" ng-options="nat.text for nat in ihg.nat">
        <option value="">-- 国家 --</option>
    </select>
    <select ng-if="nat.cities" ng-model="city" ng-options="city.text for city in nat.cities">
        <option value="">-- 城市 --</option>
    </select>
</div>
</body>
<script type="text/javascript">
var app=angular.module("myApp",[]);
app.controller("global",['$scope',function($scope){
	$scope.ihg = "312"
    $scope.g=[
        {
        	text:"亚洲",
        	id:"aaa",
	        nat:[
	            {text:"中国",cities:[{text:"北京"}]},
	            {text:"巴林",cities:[]},
	            {text:"韩国",cities:[{text:"首尔"}]},
	            {text:"黎巴嫩",cities:[]},
	            {text:"东帝汶",cities:[]},
	            {text:"尼泊尔",cities:[]},
	            {text:"泰国",cities:[{text:"曼谷"}]},
	            {text:"巴基斯坦",cities:[{text:"伊斯兰堡"}]}
	        ]
    	},
        {
        	text:"欧洲",
        	id:"bbb",
        	nat:[
            {text:"德国",cities:[]},
            {text:"英国",cities:[]}
        ]},
        {text:"北美洲",id:"ccc",},
        {text:"南美洲",id:"ddd",},
        {text:"非洲",id:"eee",},
        {text:"大洋洲",id:"fff",},
        {text:"南极洲",id:"ggg",}
    ]
}]);
</script>
</html>


<!-- <link rel="stylesheet" href="css/bootstrap.min.css">  日期插件
<script type="text/javascript" src="js/angular-1.3.0.js"></script>
<script src="js/ui-bootstrap-tpls.0.11.2.js"></script>
<script src="a.js"></script>
<section ng-controller="dateDemo" class="col-md-6" style="float:none; margin:20px auto; background:#fff; padding:20px;">
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" >
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</section>
<script type="text/javascript">
angular.module('myApp',['ui.bootstrap']).controller('dateDemo',function($scope){
    $scope.open = function($event){  // 创建open方法 。 下面默认行为并将opened 设为true
        $event.preventDefault();
        $event.stopPropagation();
        $scope.opened = true;
    }
})
</script> -->