<div class="device-tuopu">
	<div class="deviceTuopu-top">
		<div class="deviceTuopuTop-left dtt">
			<div class="device-con">
				<div id="container">
					<div class="container-title">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<span translate="DEVICE_TOPOLOGY">设备拓扑图</span>
					</div>
				</div>
			</div>
		</div>
		<div class="deviceTuopuTop-right dtt">
			<div class="device-con">
				<div class="deviceTuopuTop-ll">
					<div class="deviceTuopuTop-ll-1" >
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="DEVICE_TIME">设备时间:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="DEVICE_NAME">设备名称:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="REFERENCE_MODEL">参考源模式:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="CURRENT_REFERENCE">当前参考源:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="CLOCK_STATE">时钟状态:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="ZONCA_1_STATE">钟卡1状态:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" translate="ZONCA_2_STATE">钟卡2状态:</div>
						<div class="col-md-12 dtt-ll dtt-ll-1" >Alarm:</div>
						<!-- <div class="col-md-12 dtt-ll">
							<button type="button"  class="btn btn-info btn-xs" aria-label="Left Align">
						  		<span ria-hidden="true" class="glyphicon glyphicon-eye-open">
							  	</span>
							  	查看参考源
							</button>
						</div> -->
					</div>
				</div>
				<div class="deviceTuopuTop-rr">
					<div class="deviceTuopuTop-ll-1" >
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll" style="color:red;">{{mcTime  | date:"yyyy-MM-dd HH:mm:ss"}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{systemName}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{refMode}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{refInput}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{clockStatus}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{ccstate1}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{ccstate2}}</div><br>
						<div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">{{activeAlarms}}次</div><br>
						<!-- <div class="col-lg-12 col-md-12 col-sm-12 dtt-ll">
							<button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
						  		<span ria-hidden="true" class="glyphicon glyphicon-eye-open">
							  	</span>
							  	查看告警
							</button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="deviceTuopu-down">
		<div class="deviceTuopuDown-left dtt">
			<div class="device-con">
				    <div class="row">
				        <div class="col-md-12 querySeach">
				            <div>
				                <label class="control-label" translate="MACHINE_FRAME">机框</label>:
				                <select ng-model="actAlarmFrameM" ng-change="framesChange(actAlarmFrameM)" class="form-inline input-sm" style="height: 26px;">
				                	<option ng-repeat="x in macFrameList" value="{{x.v}}">{{x.t}}</option>
				                </select>
				            </div>
				        </div>
				    </div>
				    <div class="row tableTs" style=" height: 90%;overflow: auto;">
				        <div class="col-md-12">
				            <table class="table table-bordered table-hover table-condensed">
				                <thead>
				                    <tr>
				                        <th translate="SLOT_NUMBER">槽位号</th>
				                        <th translate="IO_type">I/O类型</th>
				                        <th translate="SIGNAL_TYPE">信号类型</th>
				                        <th translate="REDUNDANCY_ENABLE">冗余使能</th>
				                        <th translate="MAIN_CARD">主卡</th>
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr ng-repeat="item in frameInfoList">
				                        <td>{{item.ioStatusSlotID}}</td>
										<td>{{item.ioType}}</td>
										<td>{{item.ioSignal}}</td>
										<td>{{item.ioStatusRedundancy}}</td>
										<td>{{item.ioStatusActive}}</td>
				                    </tr>
				                    <tr ng-if="alarmFilterList.length == 0"><td colspan="6" class="textCenter"><span translate="NULL_DATA">暂无数据！</span></td></tr>
				                </tbody>
				            </table>
				        </div>
				    </div>
			</div>
		</div>
		<div class="deviceTuopuDown-right dtt">
			<div class="device-con">
				
			</div>
		</div>
	</div>
</div>
